<div class="text-md-center p-3 text-bg-secondary fw-bold fs-5">
  <button class="btn text-bg-secondary border-light" (click)="goDownByMonth()">
    <
  </button>
  {{ monthName() }} {{ calendarService.year() }}
  <button class="btn text-bg-secondary border-light" (click)="goUpByMonth()">
    >
  </button>
</div>
<div class="d-grid calendar-days" [formGroup]="calendarForm">
  <ng-container formArrayName="days">
    @for (day of days.controls; track day) {
      <div
        class="bg-body-tertiary calendar-day"
        (click)="dayData.emit(days.controls[$index].value)"
        [formGroupName]="$index"
      >
        {{ day.value.day }}
      </div>
    }
  </ng-container>
</div>
