.calendar-day {
  &:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: transform 0.15s;
    cursor: pointer;
  }
}

.calendar-days {
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  min-height: 75vh;
}
