<nav class="navbar bg-primary text-bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand text-bg-primary p-1 fs-2 fw-medium"
      >LifeForge</span
    >
    <div class="d-flex flex-row justify-content-center align-items-center">
      <span class="fs-5 pe-2">Username</span>
      <img
        class="rounded-circle avatar bg-body-tertiary"
        alt="Avatar"
        src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png"
      />
    </div>
  </div>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>
